body {
    background: #333;
}
.box {
    background: white;
    width: 200px;
    height: 200px;
    left: 100px;
    position: relative;
    border-radius: 50%;
    /* animation */
    animation-name: my-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes my-animation {
    0% {background-color: white; left: 100px; top: 0px;}
    25% {background-color: red; left: 600px; top: 0px;}
    50% {background-color: cornflowerblue; left: 600px; top: 300px;}
    75% {background-color: hotpink; left: 100px; top: 300px;}
    100% {background-color: white; left: 100px; top: 0px;}
}
