* {
    margin: 0%;
    height: 0%;
}
body {
    background-color: cadetblue;

}
.runner {
    background-image: url(./images/man.jpg);
    width: 100px;
    height: 172px;
    animation: walk 1s steps(8) 0s infinite reverse,
               forward 5s linear infinite;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 800px;
    }
}
@keyframes forward {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1200px);
    }
}
.road {
    border: 1px dashed black;
}